@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table table-striped">
    <tr>
        <td>Employee ID:</td>
        <td>@Model.cont_Id</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Address:</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>Mobile:</td>
        <td>@Model.Mobile</td>
    </tr>
</table>


