
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table style="font-family:'Segoe UI'">
    <tr>
        <td>
            Employee Id:
        </td>
        <td>
            @Model.cont_ID 
        </td>
    </tr>
    <tr>
        <td>
            Name:
        </td>
        <td>
            @Model.Name
        </td>
    </tr>
    <tr>
        <td>
            Mobile:
        </td>
        <td>
            @Model.Mobile
        </td>
    </tr>
    <tr>
        <td>
            City:
        </td>
        <td>
            @Model.Address
        </td>
    </tr>
</table>
